[*.cs]
dotnet_diagnostic.CA2007.severity = none
dotnet_diagnostic.CA1848.severity = none
dotnet_diagnostic.CA1873.severity = none
dotnet_diagnostic.S3267.severity = none

[*.razor]
dotnet_diagnostic.CA2007.severity = none
dotnet_diagnostic.CA1848.severity = none
dotnet_diagnostic.S3267.severity = none
